body {
    background-color: #fcbf49;
}
header {
    background-color: #F77F00;
    width: 300px;
}

h1{
    color: #003049;
    font-size: 30px;
}

#experience {
    display: flex;
}
#WorkHis, #Edu {
    width: 150px;
}