html, body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #eae2b7;
}
header {
    background-color: #F77F00;
    width: 100%;
    padding: 20px;
    position: sticky;
    top: 0;
}

h1{
    color: #003049;
    font-size: 30px;
}

#experience {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#WorkHis, #Edu {
    width: 500px;
    float: left;
}