html, body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #eae2b7;
}
header {
    background-image: linear-gradient(rgb(214, 40, 40),rgb(247, 127, 0));
    width: 100%;
    padding: 20px;
    position: sticky;
    top: 0;
}

h1{
    font-size: 30px;
}

#experience {
    display: flex;
    justify-content: center;
}
#WorkHis, #Edu {
    width: 500px;
    float: left;
}